<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Password Strength Checker</title>
    <style media="screen">
      p{
        font-weight: lighter;
      }
    </style>
    </body>
    </html>
    </script>
  </head>
  <body>
    <form action="Password/Result" method="post">
      <h2>Enter a password to check its strength</h2>
      Password: <input type="password" name="input-password" pattern=".{8,}" maxlength="20">
      <button onclick="myFunction()" submit-btn" type="submit" name="button">Submit!</button>
      <p>[A valid password requires at least 8 characters]</p>

    </form>
  </body>
</html>
